server:
  port: 8083

spring:
  application:
    name: notify-svc
  # Email
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:ndthang1704@gmail.com}
    password: ${MAIL_PASSWORD:dbaa oklv isuj tyje}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  # RabbitMQ
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
